python-dotenv~=1.1.1
httpx~=0.28.1
langchain-openai~=0.3.26
langchain-core~=0.3.66
langgraph~=0.5.0
requests~=2.32.4
langchain-google-genai~=2.1.5
langchain-ollama~=0.3.3
pytest~=8.4.1
aiofiles~=24.1.0
mcp~=1.10.1
langchain~=0.3.26
aiohttp~=3.12.13
fastapi~=0.115.14
uvicorn~=0.34.3